<section class="col-4 bg-primary mx-auto card card-primary p-1 m-1" id="makepayment">
  <div class="alert alert-sucess" *ngIf="msg!=undefined" [ngStyle]="{'background-color':this.msgflag?'green':'red'}">{{msg}}</div>
  <form #frm="ngForm" (ngSubmit)="makepayment()">
    
    <div>Card Holder Name</div>
    <div><input type="text" class="form-control" name="txtname" [(ngModel)]="payment.cardholder" #ename="ngModel" required pattern="^[A-Za-z\s]{1,}[A-za-z\s]{0,}$"/></div>
    <div *ngIf="ename.invalid && ename.touched" class="alert alert-danger">
      <div *ngIf="ename.errors.required">Customer Name is Invalid</div>
      <div *ngIf="ename.errors.pattern">Customer Name must contain alphabet and can have space in between</div>
    </div>

    <div>Bank Account Number</div>
    <div><input type="number" class="form-control" name="txtaccno" [(ngModel)]="payment.bankAcc" #esal="ngModel" required/></div>
    <div *ngIf="esal.invalid && esal.touched" class="alert alert-danger">Bank Account is Mandatory</div>

    <div>Date of Expiry</div>
    <div><input type="date" class="form-control" name="txtdoe" [(ngModel)]="payment.cardno" #edoj="ngModel" required/></div>
    <div *ngIf="edoj.invalid && edoj.touched" class="alert alert-danger">Expiry Date is required</div>

    <div>Card Number</div>
    <div><input type="number" class="form-control" name="txtcardno" [(ngModel)]="payment.cardno" #esal="ngModel" required/></div>
    <div *ngIf="esal.invalid && esal.touched" class="alert alert-danger">Card Number is Mandatory</div>

    <div>Order ID</div>
    <div><input type="number" class="form-control" name="txtaccno" [(ngModel)]="payment.orderproducts" #esal="ngModel" required/></div>
    <div *ngIf="esal.invalid && esal.touched" class="alert alert-danger">Bank Account is Mandatory</div>

    <input type="submit" value="Make secure Payment" [disabled]="!frm.valid"/>
  </form>
</section>